<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>demo</title>
</head>
<body>
<div>
    <div>
        <div>[Command Execute]</div>
        </br>
        <div>
            <span>command:</span>
            <input id="cmd" type="text"/>
            <button id="exeCmd">execute</button>
        </div>
    </div>
    </br>
    <div>
        <div>[Execute Result]</div>
        <div>
					<textarea id="exeRes" style="width: 800px; height: 500px;">
						
					</textarea>
        </div>
        <p style="color: #FF0000;"></p>
    </div>
</div>

<div>
    <div>[System Info]</div>
    <div>
        <ul id="sysInfo">
        </ul>
    </div>
</div>

<script src="./js/jquery.min.js"></script>
<script src="./js/main.js"></script>
</body>
</html>
